#menu {
	display:inline-block;
	height:100%;
	overflow:auto; 
	width:320px;
	text-transform:uppercase;
}

#cssmenu img{
		vertical-align:middle;
		border:none;
		margin-left:-7px; 
		margin-right:15px;
	}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#cssmenu {
	
	padding-left:10px;
	padding-right:10px;
	width: 320px;
	font-family: Helvetica, Arial, sans-serif;
	color: #ffffff;
}
#cssmenu ul ul {
	display: none;
}
.align-right {
	float: right;
}
#cssmenu > ul > li > a {
	padding: 15px 20px;
	cursor: pointer;
	z-index: 2;
	font-size: 12px;
	text-decoration: none;
	color: #A6A6A6;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	background-image:url(../imagens/30.png);

	
}
#cssmenu > ul > li > a:hover, #cssmenu > ul > li.active > a, #cssmenu > ul > li.open > a {
	color: #eeeeee;
	background-image:url(../imagens/50.png);
}
#cssmenu > ul > li:last-child > a, #cssmenu > ul > li.last > a {
	border-bottom: 1px solid #252525;
}
.holder {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	right: 0;
}
.holder::after, .holder::before {
 display: block;
 position: absolute;
 content: "";
 width: 6px;
 height: 6px;
 right: 20px;
 z-index: 10;
 -webkit-transform: rotate(-135deg);
 -moz-transform: rotate(-135deg);
 -ms-transform: rotate(-135deg);
 -o-transform: rotate(-135deg);
 transform: rotate(-135deg);
}
.holder::after {
 top: 17px;
 border-top: 2px solid #ffffff;
 border-left: 2px solid #ffffff;
}
#cssmenu > ul > li > a:hover > span::after, #cssmenu > ul > li.active > a > span::after, #cssmenu > ul > li.open > a > span::after {
 border-color: #fff;
}
.holder::before {
 top: 18px;
 border-top: 2px solid;
 border-left: 2px solid;
 border-top-color: inherit;
 border-left-color: inherit;
}
#cssmenu ul ul li a {
	cursor: pointer;
	 
	border-left: 1px solid #252525;
	border-right: 1px solid #252525;
	padding: 10px 20px;
	z-index: 1;
	text-decoration: none;
	font-size: 11px;
	color: #A6A6A6;
	/*background: #252525;  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);*/
	padding-left:40px;
	background-image:url(../imagens/40.png);
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li.open > a, #cssmenu ul ul li.active > a {
	background-image:url(../imagens/50.png);
	color: #ffffff;
}
#cssmenu ul ul li:first-child > a {
	box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul ul li a {
	padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a, #cssmenu > ul > li > ul > li.last > a {
	border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a, #cssmenu > ul > li > ul > li.last.open > a {
	border-bottom: 1px solid #32373e;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
	border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
 display: block;
 position: absolute;
 content: "";
 width: 5px;
 height: 5px;
 right: 20px;
 z-index: 10;
 top: 11.5px;
 border-top: 2px solid #eeeeee;
 border-left: 2px solid #eeeeee;
 -webkit-transform: rotate(-135deg);
 -moz-transform: rotate(-135deg);
 -ms-transform: rotate(-135deg);
 -o-transform: rotate(-135deg);
 transform: rotate(-135deg);
}
#cssmenu ul ul li.active > a::after, #cssmenu ul ul li.open > a::after, #cssmenu ul ul li > a:hover::after {
 border-color: #ffffff;
}
